@{
    ViewBag.Title = "Đổi mật khẩu";
}
<!-- Modal -->
<div class="modal fade" id="ChangePass" tabindex="-1" role="dialog" aria-labelledby="ChangePassLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="logo">
                    <a href="@Html.Raw(W1400.Utility.Config.UrlRoot)"><img alt="Hệ thống quản trị CMS Analystic" style="margin-top: 5px;" width="215" height="35" src="~/images/logvn.png"></a>
                </div>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-sign-out"></i>Đổi mật khẩu người dùng</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default login" style="margin-top:0">
                                <div class="messager-body">
                                    <div class="alert alert-success display-hide alert-dismissable">
                                        <button type="button" class="close" data-close="alert" aria-hidden="true">×</button>
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <label>Đổi mật khẩu thành công !!!</label>
                                    </div>
                                    <div class="alert alert-danger display-hide alert-dismissable">
                                        <button type="button" class="close" data-close="alert" aria-hidden="true">×</button>
                                        <span class="glyphicon glyphicon-warning-sign"></span>
                                        <label id="ErrorLbl">Có lỗi trong khung đăng nhập</label>
                                    </div>
                                </div>
                                <div class="panel-body content">
                                    <form class="form-horizontal" role="form" id="ChangePass" method="post">

                                        <div class="form-group col-md-push-1">
                                            <label class="control-label visible-ie8 visible-ie9">Mật khẩu cũ</label>
                                            <div class="input-icon">
                                                <i class="fa fa-lock"></i>
                                                <input class="form-control" id="PasswordOld" name="PasswordOld" placeholder="Mật khẩu cũ" required="" type="password">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-push-1">
                                            <label class="control-label visible-ie8 visible-ie9">Mật khẩu mới</label>
                                            <div class="input-icon">
                                                <i class="fa fa-plug"></i>
                                                <input class="form-control" id="PasswordNew" name="PasswordNew" placeholder="Mật khẩu mới" required="" type="password">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-push-1">
                                            <label class="control-label visible-ie8 visible-ie9">Nhập lại MK mới</label>
                                            <div class="input-icon">
                                                <i class="fa fa-star"></i>
                                                <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Nhập lại MK mới" required="" type="password">
                                            </div>
                                        </div>
                                        <div class="form-group last">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-success btn-sm" name="SaveChangePass" id="btnSaveChangePass">Lưu lại <i class="fa fa-arrow-circle-right"></i></button>
                                                <button type="reset" class="btn btn-info btn-sm" id="btnResetChangePass"><i class="fa fa-refresh"></i>Làm mới</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

            $("#ChangePass").modal({
                show: true,
                backdrop: 'static',
                keyboard:false
            });
            $("#ChangePass").on("shown.bs.modal", function () {
                $("#PasswordOld").focus();
            });

        $('#ChangePass').bootstrapValidator({
            message: 'This value is not valid',
            //live: 'submitted',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                PasswordOld: {
                    validators: {
                        notEmpty: {
                            message: 'mật khẩu cũ là bắt buộc, không thể bỏ trống'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'mật khẩu phải từ 6 đến 30 ký tự'
                        }
                    }
                },
                PasswordNew: {
                    validators: {
                        notEmpty: {
                            message: 'mật khẩu mới là bắt buộc, không thể bỏ trống'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'mật khẩu phải từ 6 đến 30 ký tự'
                        },
                        identical: {
                            field: 'ConfirmPassword',
                            message: 'mật khẩu mới không trùng khớp với MK nhập lại'
                        },
                        different: {
                            field: 'PasswordOld',
                            message: 'Mật khẩu mới không thể trùng với mật khẩu cũ'
                        }
                    }
                },
                ConfirmPassword: {
                    validators: {
                        notEmpty: {
                            message: 'Hãy nhập lại mật khẩu mới để xác thực'
                        },
                        identical: {
                            field: 'PasswordNew',
                            message: 'mật khẩu mới không trùng khớp với MK nhập lại'
                        },
                        different: {
                            field: 'PasswordOld',
                            message: 'Mật khẩu mới không thể trùng với mật khẩu cũ'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function (e) {
            // Prevent submit form
            e.preventDefault();

            var $form = $(e.target),
                validator = $form.data('bootstrapValidator');
            SaveData();
            $("#ChangePass .close").click(function () {
                $("#ChangePass .alert-success").css("display", "none");
            });
        })
        .on('error.form.bv', function (e) {
            // Active the panel element containing the first invalid element
            e.preventDefault();
            var $form = $(e.target),
            validator = $form.data('bootstrapValidator');
            $("#ChangePass .alert-danger label").text("Có một vài lỗi trong khung đăng nhập");
            $("#ChangePass .alert-danger").css("display", "block");
            $("#ChangePass .close").click(function () {
                $("#ChangePass .alert-danger").css("display", "none");
                $("#ChangePass .alert-success").css("display", "none");
            });
        });
        $("#btnResetChangePass").click(function () {
            $('#ChangePass').data('bootstrapValidator').resetForm(true);
            $("#ChangePass .alert-danger").css("display", "none");
            $("#ChangePass .alert-success").css("display", "none");
        });
        function SaveData() {
            var param = {
                PasswordOld: $("#PasswordOld").val(),
                PasswordNew: $("#PasswordNew").val()
            }
            Utils.Loading();
            $.ajax({
                type: 'POST',
                url: UrlRoot + "Home/ChangePass",
                data: param,
                async: true,
                success: function (data) {
                    Utils.UnLoading();
                    if (data.ResponseCode >= 0) {
                        $("#ChangePass .alert-success").show("slow");
                        $("#ChangePass .alert-danger").hide("slow");
                        setTimeout(function () { $("#ChangePass .alert-danger").hide("slow"); $("#ChangePass").modal("hide"); }, 2000);
                    }
                    else {
                        $("#ChangePass .alert-danger label#ErrorLbl").text(data.Description);
                        $("#ChangePass .alert-danger").show("slow");
                        $("#ChangePass .alert-success").hide("slow");
                        setTimeout(function () { $("#ChangePass .alert-danger").hide("slow"); }, 3000);
                    }
                }
            });
        };
    });
</script>