<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>

    <add name="Site1400" connectionString="lT6bcDmSTAgDjFfnu+m3BqjqzZCxTSvrzk9xpIt4L8eGp1ux/QSikWk6MsXOVxSIVmZK9PmcxzOt3lInQqQvCJ+l5qdIyyZaZZ4OV8ky794=" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="URL_ROOT" value="http://localhost:51628/" />
    <add key="DomainName" value="http://localhost:51628/" />
    <!--<add key="PageSize" value="10"/>-->
    <add key="SiteName" value="Site1400v2017" />

    <!--<add key="editableFileTypes" value=".txt .aspx .ascx .asax .cs .vb .js .config .asa .asp .htm .html .cfm .css .inc "/>
		<add key="imageFileTypes" value=".gif .jpg .jpeg .bmp .psd .tiff .tif .png"/>
		<add key="musicFileTypes" value=".mp3 .mp2 .mp1 .wav .wma .cda .aif .aiff .au .snd .flv"/>
		<add key="mediaFileTypes" value=".flv .avi .mpg .dat .vob .3gp .wmv .asf .mp4 .mov .3gp"/>
		<add key="uploadFileTypes" value=".xls .txt .doc .rtf .gif .jpg .jpeg .bmp .psd .tiff .tif .png"/>
		<add key="reportFileTypes" value=".txt .doc .rtf .xls"/>
		<add key="MaxFileUpload" value="1"/>
		<add key="MaxFileSize" value="500"/>-->

    <add key="mediaPath" value="S:\WorkSpace\1400\CMS\media\" />
    <add key="MediaUrl" value="http://localhost:51628/media/" />
    <!--<add key="FCKeditor:UserFilesPath" value="~/media/"></add>
    <add key="FCKeditor:BasePath" value="~/FCKeditor/"></add>-->

    <!--<add key="UrlServiceTool" value="http://117.103.192.17:8027/kzaivread.php"/>-->
    <add key="UrlServiceTool" value="http://db.tq.vtcgame.vn:8027/kzaivread.php" />

    <add key="SSO_PAYGATE_SERVER_URL" value="http://117.103.192.6/RandDTest/clonesso/" />
    <add key="SSO_SERVER_URL" value="http://117.103.192.6/RandDTest/clonesso/" />
    <add key="GO_SSO_SERVER_URL" value="https://go.vn/" />
    <add key="SSO_SERVICE_ID" value="100000" />
    <add key="SSO_SECRET_KEY" value="123456" />
    <!--<add key="SSO_PAYGATE_SERVER_URL" value="https://ebank.vtc.vn/ssocms/" />
    <add key="SSO_SERVER_URL" value="https://ebank.vtc.vn/ssocms/" />
    <add key="GO_SSO_SERVER_URL" value="https://go.vn/" />
    <add key="SSO_SERVICE_ID" value="10000" />
    <add key="SSO_SECRET_KEY" value="0d20ce192b0cbbffcce5da637e967f9a" />-->
    <add key="SSO_REDIRECT_URI" value="http://localhost:51628/login_matrix.aspx" />
    <add key="SSO_SERVER_PARTNER_ADDR" value="http://localhost:51628/" />
    <add key="SSO_TIMEOUT" value="2000" />
    <add key="CMS_PORTAL" value="http://localhost:51628/login.aspx" />
    <add key="SSO_CLIENT_ID" value="100000" />
    <add key="SSO_SCOPE" value="UserName" />
    <add key="SSO_STATE" value="123456" />
    <add key="SSO_PARTNER_SECRET" value="8ec2f59e1c40edbedecaac65699340a6" />
    <add key="PAGE_ERROR" value="" />
    <add key="PAGE_SUCCESS" value="login.aspx" />
    <add key="GroupServiceAuthen" value="6" />

    <add key="ParentAccountId" value="114193603" />

    <add key="SSO_DOMAIN" value="" />

    <add key="CateRootId" value="1" />
    <add key="CateArticleId" value="2" />
    <add key="CateBannerId" value="3" />
    <add key="CateTanThuId" value="9" />
    <!--<add key="VTCApp_KeySign_Admin" value="T$123UhKV45ewr4)(!*6"/>-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>

    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="1600"/>

    <authentication mode="Forms">
      <forms loginUrl="http://localhost:51628/Default.aspx" timeout="30" path="/" name=".downloadmanager" />
    </authentication>
    <machineKey validationKey="AAAEDAEC57EAA9676EA7B161F728C6715B68F124E47F0E766875F8EF69878947DE6F0792E61FE8D3AC9AA92FB060C96ADDAF64C6D183AA84148F0CDBB79A9F4F" decryptionKey="09858FF2DA58EB75283EEDD033D51B6F7CD7E244ED3B86C9648F1B17D0FBD3CD" validation="SHA1" decryption="AES" />
    <sessionState timeout="30" mode="InProc"></sessionState>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>


  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
